*{
  margin: 0;
  box-sizing: border-box;
}
html{
  min-height: 100vh;
}
:root{
  --default: #30324B;
  --active: #6AD400;
  --delete: #FF2F2F;
  --default-secondary: #575A84;
  --active-secondary: #CEFF9D;
  --delete-secondary: #FFB8B8;
}